<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>UChat</title>
  <link rel="shortcut icon" href="/assets/img/Logo.png" />
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6331875961341590"
     crossorigin="anonymous"></script>



</head>
<body>
  <nav><a href="/login"><img id="logo" src="/assets/img/Logo.png" alt="logo"/></a>
    <div class="navlink"><a href="/logout">Log out</a></div>
  </nav>


<div id="profileModal" class="modal">
  <div class="modal-content">
    <span class="close" id="closeProfileModal">&times;</span>
    <h2>Your Profile</h2>
    <label for="username">Username:</label>
    <input type="text" id="username" readonly>
    <label for="email">Email:</label>
    <input type="text" id="email" readonly>
    <!-- Add more fields as needed -->
    <button id="editProfileButton">Edit Profile</button>
  </div>
</div>

<div class="row">
   <div class="col-sm-4" id="col2">
      <b>
        <h1 class="headtext , big">Welcome to UChat</h1>
        <h2  class="headtext">Chat Now.</h2>
      </b>
      <h5>All Available User</h5>
        <section id="users" class="scrollable-container"></section>
    </div>


    
    <div class="col-sm-4" id="col2">
      
      <section id="tweets" class="scrollable-container" id="sep"></section>
          
    </div>


    <div class="col-sm-4" >
      <section id="profile" ></section>
      <section id="col2"><div id="makeFriend" ></div></section>
      
    </div>

</div>




<div class="row">
    
   
    <div class="col-sm-4" id="col2">
      
     
    </div>

   

    <div class="col-sm-4" >
        <section id="makeTweet">
    
        </section>
    </div>
  
 
    <div class="col-sm-4" id="col2">
        
        
          <h5>Your Friends</h5>
         <section id="friends" class="scrollable-container"></section>
     
    </div>
</div>
<!-- ... your existing code ... -->


  <div id="tweetMessage" class='hidden'>
    
    <span id="errorMessage"></span>
    
  </div>
  <script src="/assets/appBundle.js"></script>
</body>
</html>