<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Twitter</title>
  <link rel="shortcut icon" href="/assets/img/Logo.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6331875961341590"
     crossorigin="anonymous"></script>
</head>
<body> 
  <nav><a href="/login"><img id="logo" src="/assets/img/Logo.png" alt="logo"/></a>
    <div class="navlink"><a id="loginButton" href="/login">Login</a></div>
    <div class="navlink"><a id="signupButton" href="/signup">Sign up</a></div>
  </nav>
  <div class="row">
    
    <div class="col-sm-4">
    <img src="/assets/img/Logo.png" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="">
    </div>
    
    <div class="col-sm-4" id="col1">
      <b>
        <h1 class="headtext , big">Happening Now</h1>
        <h2  class="headtext">Join Today.</h2>
      </b>
      <section id="content">

      </section>
    </div>
    
    <div class="col-sm-4" id="col2">
        <!-- Static Ad Container -->
         <img src="/assets/img/ad.png" alt="Your Static Ad"/>
         <div class="ad-container" style="border: 2px solid #ccc; background-color: #f8f8f8; padding: 10px;">
            <!-- Paste your Google AdSense ad code here -->
              

              <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6331875961341590"
                  crossorigin="anonymous"></script>
              
              <ins class="adsbygoogle"
                  style="display:block"
                  data-ad-client="ca-pub-6331875961341590"
                  data-ad-slot="1580803269"
                  data-ad-format="auto"
                  data-full-width-responsive="true"></ins>
              <script>
                  (adsbygoogle = window.adsbygoogle || []).push({});
              </script>
              
        </div>
    </div>
  </div>





  <div id="tweetMessage" class='hidden'>
    <img id="speech" src="/assets/img/speech.png" alt="speech box"/>
    <h3><span id="errorMessage"></span></h3>
    <img id="tweet" src="assets/img/Twitter.png" alt="tweet"/>
  </div>
  <script src="/assets/loginBundle.js"></script>
</body>
</html>
