<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile</title>
  <link rel="stylesheet" href="/assets/style.css">
</head>

<body>
  {{> header}}

  <div id="domos">
    <h3 class="tweetlist">Your Tweets</h3>
    <div id="makeDomo" class="tweetForm">
      {{> tweetForm}}
    </div>
    {{#if tweets}}
      {{> tweetList}}
    {{else}}
      <h3 class="emptyDomo">No Tweets Yet!</h3>
    {{/if}}
  </div>

  {{> footer}}
</body>

</html>
