html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#logo {
    height: 40px;
    width: 40;
    padding-top: 5px;
    float:left;
    border-radius: 8px;
}

nav {
    width: 100%;
    height: 50px;
    background-color: #ffffff;
}

nav:nth-child(1) {
    padding-left: 25px;
}

.navlink {
    padding: 5px;
    padding-top: 12px;
    padding-left: 20px;
    color: rgb(255, 255, 255);
    font-size: 1.3em;
    float: left;
}

.navlink a, .navlink a:link, .navlink a:visited, .navlink a:hover, .navlink a:active {
    color: rgba(0, 0, 0, 0.958);
    text-decoration: none;
    padding: 5px;
    border: none;
    transition: background-color 0.4s ease;
    
}

.navlink a:hover {
    transition: background-color 0.8s ease;
     color: #3c3b3b;
}


.mainForm {
    height: 300px;
    width: 350px;
    margin: 0 auto;
    padding-top: 8%;
    font-size: 1.2em;
}

.mainForm h3 {
    text-align: center;
}

.mainForm label {
    display: inline-block;
    width: 100px;
    margin-right: 10px;
    text-align: right;
    font-size: 1.2em;
}

.formSubmit {
    transition: background-color 0.4s ease;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 14px;
    font-size: 1.2em;
    width: 350px;
    background-color: #070707;
    border-radius: 20px;
    border-color: #000000;
    padding: 3px 0px;
    color: white;
    text-decoration: none;
}

.formSubmit:link, .formSubmit:visited, .formSubmit:hover, .formSubmit:active {
   
    border-color: #a7a4a4;
}

.formSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: #3c3b3b;
    border-color: #3c3b3b;
}

#user, #pass, #pass2,#email {
    text-align: center;
    font-size: 1.1em;
    width: 200px;
    border-radius: 6px;
    margin-bottom: 10px;
}

#user:focus, #pass:focus, #pass2:focus {
    outline: none;
    box-shadow: 0px 0px 1px 1px #55acee;
}

.hidden {
    display: none;
}
.headtext{
    padding-left: 25%;
    

}
#col1,#col2{
    padding-top: 8%;
}

.big{
    font-size: 60px;
    padding-bottom: 5%;
}
.col-sm-4 {
    position: relative;
    min-height: 300px; /* Adjust the minimum height as needed */
}
.ad-container {
    position: absolute; /* Position the ad container relative to the col-sm-4 */
    top: 50%;           /* Center the ad vertically */
    left: 50%;          /* Center the ad horizontally */
    transform: translate(-50%, -50%); /* Center the ad using transform */
    text-align: center; /* Center the ad content */
}

.ad-container img {
    max-width: 100%;    /* Ensure the ad image is responsive */
    border-radius: 8px; /* Optional: Add border-radius for rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle box shadow */
}















.domoForm {
    height: 300px;
    width: 350px;
    margin: 0 auto;
    padding-top: 8%;
    font-size: 1.2em;
}

.domoForm label {
    display: inline-block;
    width: 100px;
    margin-right: 10px;
    text-align: right;
    font-size: 1.2em;
}

.makeDomoSubmit {
    transition: background-color 0.4s ease;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 14px;
    font-size: 1.2em;
    width: 350px;
    background-color: #070707;
    border-radius: 20px;
    border-color: #000000;
    padding: 3px 0px;
    color: white;
    text-decoration: none;
}

.makeDomoSubmit:link, .makeDomoSubmit:visited, .makeDomoSubmit:hover, .makeDomoSubmit:active {
    border-color: #a7a4a4;
}

.makeDomoSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: #338acc;
}










#domoMessage {
    top: 250px;
    width: 250px;
    height: 650px;
    position: absolute;
    z-index: 200;
    right: 0px;
    overflow: hidden;
}

#domoMessage h3 {
    width: 200px;
    position: absolute;
    top: 0px;
    left: 20px;
}

#speech {
    height: 120px;
    width: 250px;
    z-index:300;
}

#errorMessage {
    font-size: 1.2em;
    font-weight: bold;
    color: red;
    font-style: italic;
}

#domo {
    z-index: 225;
    margin-top: -20px;
    margin-left: 135px;
    height: 450px;
    width: 300px;
    -ms-transform: rotate(330deg);
    -webkit-transform: rotate(330deg); 
    transform: rotate(330deg);
}

#domos {
    width: 40%;
    min-width: 400px;
    border: 2px solid #55acee;
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 100px;
}

.domo {
    width: 95%;
    margin: 0 auto;
    margin-top: 2px;
    margin-bottom: 2px;
    border: 2px solid #55acee;
    border-radius: 4px;
    background-color: #55acee;
    padding: 10px;
    min-height:60px;
    overflow: hidden;
}

.domo:hover {
    transition: border-color 0.2s ease-out;
    border-color: rgba(255,255,255, 0.8);
    transition: background-color 2.6s ease-out;
    background-color: #66bfff;
}








img.domoFace {
    margin-left: 25px;
    margin-right: 10px;
    height: 50px;
    width: 50px;
    border-radius: 4px;
    margin-top:10px;
    float:left;
}

h3.emptyDomo {
    width: 400px;
    font-size: 1.5em;
    margin: 0 auto;
    text-align: center;
    margin-top: 18px;
}


h3.domoName {
    float:left;
    width: 200px;
    font-weight: bold;
    padding-left: 65px;
    font-size: 1.5em;
}

h3.domoMessage {
    float:right;
    text-align: left;
    width: 100px;
    font-weight: bold;
    padding-right: 40px;
    font-size: 1.5em;
}


.domo:first-child {
    margin-top: 10px;
}

.domo:last-child {
    margin-bottom:10px;
}